<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<meta charset="ISO-8859-1">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Accueil</title>
</head>
<body>

	<div>
		
		<header>
			<nav>
				<div>
					<a href="#">ENI-Enchères</a>
				</div>
				<div>
					<a href="#">S'inscrire</a>
					<a href="#">Se connecter</a href="#">
				</div>
			</nav>
		</header>
		
		<main>
			<h1>Liste des enchères</h1>
			<div>
				<p>Filtres :</p>
				<input type="text" placeholder="Le nom de l'article contient">
				<p>Catégorie :</p>
				<select>
					<option value="Informatique">Informatique</option>
					<option value="Ameublement">Ameublement</option>
					<option value="Vêtement">Vêtement</option>
					<option value="Sport & Loisirs">Sport & Loisirs</option>
				</select>
				<button type="submit"><i class="fa fa-search"></i></button>
			</div>
			<div class="encheresEnCours">
				<div>
					
				</div>
				<div>
					
				</div>
			</div>
		</main>
		
		<footer>
			
		</footer>
		
	</div>

</body>
</html>