<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Accueil connecté</title>
</head>
<body>

	<div>
		
		<header>
			<nav>
				<div>
					<a href="#">ENI-Enchères</a>
				</div>
				<div>
					<a href="#">Enchères</a>
					<a href="#">Vendre un article</a>
					<a href="#">Mon profil</a>
					<a href="#">Déconnexion</a>
				</div>
			</nav>
		</header>
		
		<main>
			<h1>Liste des enchères</h1>
			<div>
				<p>Filtres :</p>
				<input type="text" placeholder="Le nom de l'article contient">
				<p>Catégorie :</p>
				<select>
					<option value="Informatique">Informatique</option>
					<option value="Ameublement">Ameublement</option>
					<option value="Vêtement">Vêtement</option>
					<option value="Sport & Loisirs">Sport & Loisirs</option>
				</select>
				<div class="categorie">
					<label>
						<input type="checkbox" id="achat">Achats
					</label>
					<label>
						<input type="checkbox" id="mes_ventes">Mes ventes
					</label>
				</div>
				<div class="options_achats">
					<label>
						<input type="checkbox">enchères ouvertes
					</label>
					<label>
						<input type="checkbox">mes enchères en cours
					</label>
					<label>
						<input type="checkbox">mes enchères remportées
					</label>
				</div>
				<div class="options_mes_ventes">
					<label>
						<input type="checkbox">mes ventes en cours
					</label>
					<label>
						<input type="checkbox">ventes non débutées
					</label>
					<label>
						<input type="checkbox">ventes terminées
					</label>
				</div>
				<button type="submit">Rechercher</button>
			</div>
			<div class="affichage_achats_ventes">
				<div class="achats">
					<div></div>
					<div></div>
				</div>
				<div class="ventes">
					<div></div>
					<div></div>
				</div>
			</div>
		</main>
		
		<footer>
			
		</footer>
		
	</div>

</body>
</html>