<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Modification profil utilisateur</title>
</head>
<body>

	<div>
		
		<header>
			<nav>
				<div>
					<a href="#">ENI-Enchères</a>
				</div>	
			</nav>
		</header>
		
		<main>
			<div>
				<h1>Mon profil</h1>
				<form>
					<input type="text" id="pseudo">
					<label for="pseudo">Pseudo :</label>
					<input type="text" id="prenom">
					<label for="prenom">Prénom :</label>
					<input type="number" id="telephone">
					<label for="telephone">Téléphone :</label>
					<input type="number" id="code-postal">
					<label for="code-postal">Code postal :</label>
					<input type="password" id="motdepasse">
					<label for="motdepasse">Mot de passe :</label>
					<input type="text" id="nom">
					<label for="nom">Nom :</label>
					<input type="email" id="email">
					<label for="email">Email :</label>
					<input type="text" id="rue">
					<label for="rue">Rue :</label>
					<input type="text" id="ville">
					<label for="ville">Ville :</label>
					<input type="password" id="montdepasse-actuel">
					<label for="montdepasse-actuel">Mot de passe actuel :</label>
					<input type="password" id="nouveau-motdepasse">
					<label for="nouveau-montdepasse">Nouveau mot de passe :</label>
					<input type="password" id="montdepasse-confirmation">
					<label for="montdepasse-confirmation">Confirmez votre nouveau mot de passe :</label>
					<button type="submit">Enregistrer</button>
					<button type="button">Supprimer mon compte</button>
				</form>
			</div>
		</main>
		
	</div>

</body>
</html>