<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Se connecter</title>
<link rel="stylesheet" href="css/main.css">
</head>
<body>

	<div>
		
		<header>
			<nav>
				<div>
					<a href="#">ENI-Enchères</a>
				</div>	
			</nav>
		</header>
		
		<main>
			<div>
				<p>Indentifiant :</p>
				<input type="text">
				<p>Mot de passe :</p>
				<input type="text">
				<button type="submit">Connexion</button>
				<input type="checkbox" id="memoriser">
				<label for="memoriser">Se souvenir de moi</label>
				<a href="#">Mot de passe oublié</a>
			</div>
			<div>
				<button type="button">Créer un compte</button>
			</div>
		</main>
		
		<footer>
			
		</footer>
		
	</div>

</body>
</html>