<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Se connecter</title>
</head>
<body>
	<div th:replace="~{fragment/fragment-entete :: frag-entete}"></div>

	<div>
		
		<main>
			<div>
				<p>Indentifiant :</p>
				<input type="text">
				<p>Mot de passe :</p>
				<input type="password">
				<button type="submit">Connexion</button>
				<input type="checkbox" id="memoriser">
				<label for="memoriser">Se souvenir de moi</label>
				<a href="#">Mot de passe oublié</a>
			</div>
			<div>
				<button type="button">Créer un compte</button>
			</div>
		</main>
		
	</div>

</body>
</html>