<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Vente terminée</title>
</head>
<body>

	<div>
		
		<header>
			<nav>
				<div>
					<a href="#">ENI-Enchères</a>
				</div>
			</nav>
		</header>
		
		<main>
			<h1>a remporté la vente</h1>
			<p>Article :</p>
			<p>Description :</p>
			<p>Meilleure offre :</p>
			<p>Mise à prix :</p>
			<p>Fin de l'enchère :</p>
			<p>Retrait :</p>
			<p>Vendeur :</p>
			<button type="button">Retrait effectué</button>
		</main>
		
	</div>

</body>
</html>